#!/bin/sh
set -e

{% if COMMON_ENABLE_NEWRELIC_APP %}
export NEW_RELIC_APP_NAME={{ XQUEUE_NEWRELIC_APPNAME }}
export NEW_RELIC_LICENSE_KEY={{ NEWRELIC_LICENSE_KEY }}
{% endif %}
export PID=/var/tmp/xqueue.pid
export PORT={{ xqueue_gunicorn_port }}
export ADDRESS={{ xqueue_gunicorn_host }}
export LANG={{ XQUEUE_LANG }}
export DJANGO_SETTINGS_MODULE=xqueue.aws_settings
export SERVICE_VARIANT="xqueue"

{% if COMMON_ENABLE_NEWRELIC_APP %}
{% set executable = xqueue_venv_bin + '/newrelic-admin run-program ' + xqueue_venv_bin + '/gunicorn' %}
{% else %}
{% set executable = xqueue_venv_bin + '/gunicorn' %}
{% endif %}
exec /sbin/setuser {{ common_web_user }} {{ executable }} -c {{ xqueue_app_dir }}/xqueue_gunicorn.py {{ XQUEUE_GUNICORN_WORKERS_EXTRA }} xqueue.wsgi
